<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<css href="__PUBLIC__/css/backLayout.css" />
</head>
<body>
<h1>管理员登录</h1>
<form action="proLogin" method="POST">
<table>
	<tr>
		<td>{$Think.lang.username}</td>
		<td><input type="text" name="username" placeholder="在此输入用户名"></td>
		<td></td>
	</tr>
	<tr>
		<td>{$Think.lang.password}</td>
		<td><input type="password" name="password" placeholder="在此输入密码"></td>
		<td></td>
	</tr>
	<tr>
		<td>验证码</td>
		<td><input type="text" name="verify" placeholder="在此输入密码"></td>
		<td><img src="__URL__/verify/" onClick="this.src+='?' + Math.random();" alt="点击刷新验证码!"></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="{$Think.lang.login}"/></td>
	</tr>
</table>
</form>
</body>
</html>