<div>
	<form id="form1" action="{:U('Menu/update', array('id'=>$menu['id']))}" method="POST">

		<div class="form-group">
			<label for="name">{$Think.Lang.menuName}</label> 
			<input type="text" name="name" class="form-control" placeholder="{$Think.Lang.menuName}" value="{$menu.name}">
		</div>
		<div class="form-group">
			<label for="action">{$Think.Lang.controller}</label> 
			<select	name="action" class="form-control">
					<option value="{$menu.action}" selected="selected">{$menu.actionValue}</option>
				<volist name="controllers" id="vo">
					<option value="{$vo.see}">{$vo.name}</option>
				</volist>
			</select>
		</div>
		<div class="form-group">
			<label for="method">{$Think.Lang.option}</label> 
			<input type="text" name="method" class="form-control" placeholder="{$Think.Lang.option}" value="{$menu.method}">
		</div>
		<div class="form-group">
			<label for="parentId">{$Think.Lang.parentMenu}</label> 
			<select name="parentId" class="form-control">
				<volist name="menus" id="vo">
					<if condition="$menu['parentId'] eq $vo['id']"><option value="{$vo.id}" selected="selected">{$vo.name}</option>
					<else /><option value="{$vo.id}">{$vo.name}</option>
					</if>
				</volist>
				<option value="0">无上级菜单</option>
			</select>
		</div>
		<div class="text-center">
			<input type="submit" id="submit" value="提交" class="btn btn-success">
		</div>
	</form>
</div>
<script>
$(function() {
	$("#submit").click(function() {
		$.post("{:U('Menu/update', array('id'=>$menu['id']))}", $("#form1").serialize(), function(data, textStatus) {
			alert('a');
		}, "json")
		return false;
	});
});
</script>